@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.02em;
}

html,
body,
#root {
   width: 100%;
   height: 100%;
}

#root {
   position: relative;
   max-width: 1432px;
   margin: 0 auto;
   padding: 0 16px;
   padding-top: 32px;
}
body {
   margin: 0;
   padding: 0;
   background: #202123;
}
a {
   text-decoration: none;
}
